
export TERM="{{ zsh_term }}"
export EDITOR="{{ zsh_editor }}"
export PATH="$PATH:{{ zsh_path | join(":") }}"

{% if not zsh_share_history %}
unsetopt share_history
{% endif %}

autoload -Uz copy-earlier-word
zle -N copy-earlier-word

# fzf
export FZF_TMUX=0
export FZF_DEFAULT_OPTS="{{ zsh_fzf_default_opts }}"
export FZF_BASE="{{ zsh_fzf_path }}/fzf"

# fzf-widgets: fzf-change-reset-dir
{% if zsh_version is version_compare('5.0', '>=') -%}
autoload -Uz chpwd_recent_dirs cdr add-zsh-hook
add-zsh-hook chpwd chpwd_recent_dirs
{% endif %}
declare -p FZF_WIDGETS_OPTS > /dev/null 2>&1 && FZF_WIDGETS_OPTS[insert-history]="{{ zsh_fzf_ctrl_r_opts }}"
declare -p FZF_WIDGET_OPTS > /dev/null 2>&1 && FZF_WIDGET_OPTS[insert-history]="{{ zsh_fzf_ctrl_r_opts }}"

# zsh-autosuggestions
ZSH_AUTOSUGGEST_BUFFER_MAX_SIZE={{ zsh_autosuggestions_max_length }}
ZSH_AUTOSUGGEST_HIGHLIGHT_STYLE="fg=240" # gray highlight