{% extends "@Admin/sb-admin/base.html.twig" %}

{% block page_head_title %}Users{% endblock %}
{% block page_head_button_action %}{% endblock %}

{% block page_content %}
    <h1 class="h3 mb-4 text-gray-800">User Content</h1>
{% endblock %}