{% extends "@Landing/grayscale/base.html.twig" %}

{% block title %}Landing - Sign up{% endblock %}

{% block body %}
    <body id="page-top" class="bg-gradient-primary">

        <div class="container">

            <!-- Outer Row -->
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                        <div class="col-lg-7">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                                </div>

                                {% form_theme signUpForm '@Landing/grayscale/form/sign-up.html.twig' %}

                                {{ form(signUpForm) }}

                                <hr>
                                <a href="{{ path('landing_auth_sign-up_google') }}" class="btn btn-google btn-form btn-block">
                                    <i class="fab fa-google fa-fw"></i> Register with Google
                                </a>
                                <a href="{{ path('landing_auth_sign-up_facebook') }}" class="btn btn-facebook btn-form btn-block">
                                    <i class="fab fa-facebook-f fa-fw"></i> Register with Facebook
                                </a>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </body>
{% endblock %}